<div class="wrapper">
  <div class="input-container" [ngStyle]="{'width': inputWidth + 'px' }" *ngFor="let input of inputs; let idx=index">
    <nz-input-group nzSize="{{size}}" [nzSuffix]="suffixCloseIcon">
      <input type="text" nz-input nzSize="{{size}}" placeholder="请输入..." [(ngModel)]="input.value" (ngModelChange)="inputChange()">
    </nz-input-group>
    <ng-template #suffixCloseIcon>
        <i class="anticon anticon-close" (click)="deleteInput(input, idx)"></i>
      </ng-template>
  </div>
  <div>
    <i class="anticon anticon-plus" (click)="addInput()"></i>
  </div>
</div>

