<!-- <div class="wrapper">
  <ng-container *ngFor="let input of inputs; let idx=index">
    <nz-input [nzPlaceHolder]="'请输入...'" [(ngModel)]="input.value" [nzSize]="'large'" (ngModelChange)="inputChange()"
    [ngStyle]="{'width': inputWidth + 'px', 'margin': '0 5px 5px 0' }">
      <ng-template #suffix>
        <i class="iconfont icon-cuohao icon-delete" (click)="deleteInput(input, idx)"></i>
      </ng-template>
    </nz-input>
  </ng-container>
  <div>
    <i class="iconfont icon-jiahao icon-add" (click)="addInput()"></i>
  </div>
</div> -->