.wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .input-container {
    margin-right: 5px;
  }
}

.anticon {
  cursor: pointer;
  &.anticon-close {
    color: red;
  }
  &.anticon-plus {
    color: #2c9cfa;
  }
}